body {
  font-family: Arial, sans-serif;
  width:100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app {
  display: block;
  width: 100vw;
  /* height: 100vw; */
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0rem 2rem;
}

.title{
  width:100%;
  text-align: center;
  padding-bottom:1rem;
}

h1 {
  margin-bottom: 2rem;
}

.itemList{
  display:flex;
}

input,
button {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
}

input {
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #272626;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  min-width: 150px;
  margin-bottom: 1rem;
}

.form-group > label{
  margin-left:13px;
}

.show_item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: blue;
  border-radius: 4px;
  overflow-x: auto;
  white-space: nowrap;
}

.edit_item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: blue;
  border-radius: 4px;
}

.item > div {
  flex: 1;
  padding: 0.5rem 1rem;
  margin-right: 10px;
}

.show_item > div::before {
  content: '';
  position:absolute;
  left: 32px;
  width:85rem;
  height:2px;
  background-color: white;
  margin-top: 35px;
}


.show_item > div > span{
  display:flex;
  font-weight: bold;
  font-size: large;
}

.item-buttons > button{
  display: block;
  justify-content: flex-end;
  width:117px;
}

#edit-logo{
  width:20px;
  height:20px;
  margin-left:9px;
  vertical-align:text-bottom;
}

#delete-logo{
  width:20px;
  height:20px;
  margin-left:1px;
  vertical-align:text-bottom;
}

#add-logo{
  width:20px;
  height:20px;
  margin-left:1px;
  vertical-align:text-bottom;
}

#search-logo{
  width:20px;
  height:20px;
  margin-left:1px;
  vertical-align:text-bottom;
}
